body {
  background-color: #eaa0eb;
}

td {
  text-align: center;
  border: 1px solid black;
  width: 55px !important;
  height: 55px !important;
  background-color: #d7d7d7;
  background-image: url(https://www.transparenttextures.com/patterns/brushed-alum-dark.png);
}
table {
  border-collapse: collapse;
}

#gameDisplayArea {
  display: flex;
  justify-content: center;
}

#statusWindow {
  margin: 0 2px;
  padding: 15px;
  border: 1px solid black;
}
#battleBox2 {
  border: 1px solid black;
  margin-left: 10px;
  width: 300px;
  height: 694px;
  background-color: #d7d7d7;
  background-image: url(https://www.transparenttextures.com/patterns/brushed-alum-dark.png);
}

.hero {
  height: 40px;
  width: 40px;
}

.demon {
  height: 40px;
  width: 40px;
}

img.wall {
  width: 55px;
  height: 55px;
  display: block;
}

#instructions {
  border: 1px solid black;
  width: 300px;
  height: auto;
  position: fixed;
  background-color: #d7d7d7;
  background-image: url(https://www.transparenttextures.com/patterns/brushed-alum-dark.png);
}

#gameTitle {
  text-align: center;
}
